@model SideBarUserAreaViewModel

<li class="dropdown user user-menu">
    <!-- Menu Toggle Button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <!-- The user image in the navbar-->
        @*<img src="@Url.Content("~/lib/admin-lte/img/user2-160x160.jpg")" class="user-image" alt="User Image">*@
        <!-- hidden-xs hides the username on small devices so only the image appears. -->
        <span class="hidden-xs"><b>@Model.Email</b></span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <!-- Menu Body -->
        <li class="user-body">
            <div class="row">
                @if (User.IsInRole("Admin"))
                {
                    <div class="col-xs-4 text-center">
                        <a href="@Url.Action("Index", "Admin")">Admin</a>
                    </div>
                }
                @if (User.IsInRole("User"))
                {
                    <div class="col-xs-4 text-center">
                        <a href="@Url.Action("Index", "Home")">Anasayfa</a>
                    </div>
                }
            </div>
            <!-- /.row -->
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profil</a>
            </div>
            <div class="pull-right">
                <a href="@Url.Action("Logout", "Account")" class="btn btn-default btn-flat">Çıkış yap</a>
            </div>
        </li>
    </ul>
</li>
