@model RegisterViewModel
@{
    ViewData["Title"] = "Kayıt Ol";
    Layout = "_EmptyLayout";
}

<link href="@Url.Content("~/lib/admin-lte/plugins/iCheck/square/blue.css")" rel="stylesheet" />

<div class="register-box">
    <div class="register-logo">
        <a href="#">Salary Dashboard</a>
    </div>

    <div class="register-box-body">
        <h4 class="login-box-msg">Kayıt Ol</h4>

        <form action="@Url.Action("Register", "Account")" method="post">
            @Html.AntiForgeryToken()

            @if (ViewData.ModelState.ErrorCount > 0)
            {
                @(await Component.InvokeAsync("ModelErrorMessages", ViewData.ModelState))
            }
            <div class="form-group has-feedback">
                <input asp-for="FullName" class="form-control" placeholder="Ad Soyad">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Email" class="form-control" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Password" class="form-control" placeholder="Şifre">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Kayıt ol</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->

<script src="@Url.Content("~/lib/admin-lte/plugins/iCheck/icheck.min.js")"></script>

<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' /* optional */
        });
    });
</script>
